body{
    padding-top: 56px;
    font-family: Roboto-Regular;
    font-size: 16px;
}

.position-fixed{
  width: 100%;
  display: block;
  z-index: 100;
  margin-top: -56px;
 
 
}

.display-4 {
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
     color: #212529;    
}
.lead {
    line-height: 19px;
    color: #212529;
    }
section{padding: 0px 2% 0px 2%;}
.card {
    margin-bottom: 32px;
}
.card-header {
    line-height: 19px;}
.card-title {
    font-size: 20px;
    line-height: 23px;}
.card-text {
    line-height: 19px;}
    .podval{
        padding-left: 3em;
        text-align: left;
        color: grey;
        line-height: 19px;
    }
    footer {
		padding: 16px 0px 16px 0px;
	background: #F5F5F5;
}
   
